* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: lightgrey;
}

.container {
    margin: auto;
    background: rgb(255,255,224);
    background: radial-gradient(circle, rgba(255,255,224,1) 84%, rgba(251,251,251,1) 100%);;
    width: 600px;
    height: 700px;
    border: 5px solid white;
    border-radius: 10px;
    
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(139, 0, 0);
    text-shadow: -2px -2px 4px rgba(169, 169, 169, 0.86);
}

button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    background-color: lightsalmon;
    color: white;
    font-size: 14px;
    border: 2px solid black;
    margin: 10px 5px 10px 5px;
}


button:hover {
    cursor: pointer;
    background-color: rgb(246, 130, 84);
}

.details > * {
    /* border: 1px solid black; */
    display: inline-block;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: -2px -2px 4px rgba(169, 169, 169, 0.86);
}

.tools {
    float: left;
    width: 140px;
}

.hints:hover{
    cursor:pointer;
    text-shadow: 0px -1px 19px #EEFF16;
}

.restart{
    margin: auto;
    margin-top: 5px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-image: url(../img/gameOn.png);
    background-size: cover;
}

.restart-bkg{
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 2px;
    height: 60px;
    width: 60px;
    background-color: cornflowerblue;
}

.timer {
    text-align: left;
    width: 170px;
    padding-top: 20px;
    float: right;
    font-size: 18px;
}


.board {
    /* display: inline-block; */
    margin: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    background-repeat: repeat;
    background-color: gray;
}

.board td {
    border: 2px solid white;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-variant-numeric: lining-nums;
    font-weight: bold;
}

.board td:hover {
    background-color: rgba(248, 244, 239, 0.644);
    cursor: pointer;
}

.mine {
    width: 25px;
}

.cover {
    display: block;
    width: 100%;
    object-fit: cover;
}

.shown {
    background: rgb(216, 216, 215);
}


.negs-1 {
    color: lightseagreen
}

.negs-2 {
    color: orange;
}

.negs-3 {
    color: salmon;
}

.negs-4 {
    color: purple;
}

.negs-5 {
    color: red;
}

.negs-6 {
    color: limegreen;
}

.negs-7 {
    color: blue;
}

.negs-8 {
    color: brown;
}