* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: lightgrey;
}

.container {
    margin: auto;
    background-color: lightyellow;
    width: 600px;
    height: 700px;
    border: 5px solid white;
    border-radius: 5px;

}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(139, 0, 0);
    text-shadow: -2px -2px 4px rgba(169, 169, 169, 0.86);
}

.board {

    margin: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    background-repeat: repeat;
    background-color: gray;
}

.board td {
    border: 2px solid white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-variant-numeric: lining-nums;
    font-weight: bold;
}

.board td:hover {
    background-color: rgba(248, 244, 239, 0.644);
    cursor: pointer;
}

.mine {
    width: 25px;
}

.cover {
    display: block;
    width: 100%;
    object-fit: cover;
}

.shown {
    background: lightgoldenrodyellow;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: lightsalmon;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(246, 130, 84);
}

.negs-1 {
    color: lightseagreen
}

.negs-2 {
    color: orange;
}

.negs-3 {
    color: salmon;
}

.negs-4 {
    color: purple;
}

.negs-5 {
    color: red;
}

.negs-6 {
    color: limegreen;
}

.negs-7 {
    color: blue;
}

.negs-8 {
    color: brown;
}